<div class="content" role="main">
  <header>
    <mat-toolbar class="sidebar-color">
      <span>New Rover in Mars</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </header>

  <div class="card-position">
    <mat-card class="card-container">

      <mat-card-title >Mars Rover Configuration Panel</mat-card-title>
      <mat-card-subtitle style="color: grey">
        This panel allows you to enter the dimensions of the square,<br>
        the initial coordinates of the Rover, and it's initial orientation:
      </mat-card-subtitle>

      <mat-card-content>
        <div class="containerX">
          <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxFlex
              class="coloredContainerX box">

            <!-- MARS ROVER LOCALIZATION PANEL -->
            <div fxFlex class="form">
              <div class="card">
                <form [formGroup]="locationForm" (ngSubmit)="handleClick()">
                  <div class="form-group">
                    <div *ngIf="!roverWasLanded">
                      <mat-form-field appearance="legacy" color="black">
                        <mat-label>Heigth</mat-label>
                        <input
                          matInput
                          type="number"
                          placeholder="Eigth"
                          min=0
                          formControlName="height"
                          [disabled]="roverWasLanded"
                        >
                      </mat-form-field>
                      <mat-form-field appearance="legacy" color="black">
                        <mat-label>Width</mat-label>
                        <input
                          matInput
                          type="number"
                          min=0
                          placeholder="Mars square width"
                          formControlName="width"
                          [disabled]="roverWasLanded"
                        >
                      </mat-form-field>
                      <mat-form-field appearance="legacy" color="black">
                        <mat-label>Latitude</mat-label>
                        <input
                          matInput
                          type="number"
                          min="0"
                          placeholder="Latitude"
                          formControlName="latitude"
                          [disabled]="roverWasLanded"
                        >
                        <mat-hint>Nord-South</mat-hint>
                      </mat-form-field>
                      <mat-form-field appearance="legacy" color="black">
                        <mat-label>Longitude</mat-label>
                        <input
                          matInput
                          type="number"
                          min="0"
                          placeholder="Longitude"
                          formControlName="longitude"
                          [disabled]="roverWasLanded"
                        >
                        <mat-hint>East-West</mat-hint>
                      </mat-form-field><br><br>
                      <mat-form-field appearance="legacy" color="black">
                        <mat-label>Orientation</mat-label>
                        <mat-select formControlName="orientation">
                          <mat-option
                          *ngFor="let orientation of orientationList"
                          [value]="orientation.value"
                          >{{ orientation.name }}</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <mat-form-field appearance="legacy" color="black">
                      <mat-label>Command</mat-label>
                      <input
                        matInput
                        type="text"
                        placeholder="Enter your command: AALAARALA"
                        formControlName="command"
                      >
                      <mat-hint>A: Advance, L: Turn Left, R: Turn Right</mat-hint>
                    </mat-form-field>
                  </div><br><br>

                  <button
                    mat-raised-button
                    class="mars-color"
                    [disabled]="!locationForm.valid"
                    type="submit"
                    >LET'S GO</button>
                </form>
              </div>
            </div>


            <!-- MAP -->
            <div fxFlex class="map">
              <mat-card-title >Rover's Map</mat-card-title>
              <app-map></app-map>
              <app-keyboard></app-keyboard>
            </div> 

            <!-- INFORMATION PANEL -->
             <div fxFlex class="sidebar">
              <app-sidebar [canMove] = "canMove"></app-sidebar>
            </div>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <pre>{{ actualPosition | json }}</pre>
  </div>


<!--   <footer>
    <div class="container">
      <div class="row">
        Mars Rover Position Panel
      </div>
    </div>
  </footer> -->
</div>
