/* HEADER */
.example-spacer {
  flex: 1 1 auto;
}

/* forms */
 /* .content {
  background: linear-gradient(rgba(255,255,255,.9), rgba(255,255,255,.9)), url('../assets/PinClipart.com_mars-rover-clipart_906532.png') no-repeat;
  background-size: 600px;
} */
.form {
  padding: 10px;
}

.map {
  padding: 10px 10px 10px 0px;
}

.sidebar {
  border-radius: 5px;
  padding: 10px;
}

.sidebar-color {
  background-color: #b4845a;
  display: grid;
  text-align: center;
  font-family: "Croissant One", serif;
  color: #4c3423;
  font-size: 300%;
  letter-spacing: 8px;
  font-weight: bold;
  padding-top: 10px;
}

footer {
  position: sticky;
  bottom: 0;
  height: 100px;
  padding: 10px;
  background-color: grey;
  color: white;
  width: 100%;
}

footer > .container {
  text-align: center;
  position: absolute;
}

footer > .container {
  position: relative;
  top: 50%;
}

.mat-card{
  box-shadow: 0 6px 10px #7c5419c9!important;
  width: fit-content;
}

.mat-input-element{
  caret-color: #b4845a!important;
}

::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: #b4845a!important;
}

::ng-deep.mat-form-field.mat-focused .mat-form-field-label{
  color: #b4845a!important;
}

::ng-deep.mat-form-field-appearance-legacy .mat-form-field-underline{
  background-color: #b4845a;
}
.card-position{
  padding: 20px 10px 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mars-color{
  background-color: #b4845a;
}

