<div class="container">
  <div style="font-size: 24px; font-weight: 500;">Information: </div>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Latitude</mat-label>
      <input matInput placeholder="Placeholder" disabled [value]="rover?.position?.coordinates?.latitude">
      <mat-hint>Nord-South</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Longitude</mat-label>
      <input matInput placeholder="Placeholder" disabled [value]="rover?.position?.coordinates?.longitude">
      <mat-hint>East-West</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Pointer</mat-label>
      <input matInput placeholder="Placeholder" disabled [value]="rover?.position?.pointer">
      <mat-hint>(N) Nord</mat-hint>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="legacy">
      <mat-label>Status</mat-label>
      <input matInput placeholder="Placeholder" disabled [value]="canMove">
    </mat-form-field>
  </p>
</div>

